<!DOCTYPE html>
<html>
	<head>
		<title>Ticket Purchase</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<link rel="stylesheet" href="tix.css">
	</head>
	<body>
		<div id = "purchaseVue">
			<h1> Purchase your ticket</h1>
			<div id="div-cart">
				<p>Reserved Tickets</p>
				<template v-for="(value, key) in ticket_template">
					<p v-on:click="update(key)" class="ticket">QTY: {{value['ticket_quantity']}}, TITLE: {{value['movie_title']}}</p>
				</template>
			</div>
			<div id="overlay" v-show='showcart'>
				<div id="movie_detail">
					QTY: <input type="number" min="1" max="10" size="2" maxlength="2" v-model="u_qty" /> <br />
					TITLE: {{u_title}}<br/>
					<button type="button" name="button" v-on:click ="updateTicket">Update</button>
					<button type="button" name="button" v-on:click = "deleteTicket">Delete</button>
					<button type="button" name="button" v-on:click="cancelupdate">Cancel</button>
				</div>
			</div>
			<div id="overlay" v-show='showcart3'>
				<div id="history_detail">
					<p>HISTORY</p>
					<template v-for="(value, key) in history_list">
						DATE : {{value['history_date']}} <br/>
						QTY  : {{value['history_quantity']}} <br />
						PRICE: {{value['history_sale']}}php
					</template><br />
					<button type="button" name="button" v-on:click="cancelupdate">Cancel</button>
				</div>
			</div>
			<div id="overlay" v-show='showcart2'>
				<div id="movie_detail">
					9 DIGIT CREDIT CARD NUMBER: <input type="number" min="10000000" max="999999999" size="2" maxlength="2" v-model="u_qty" /> <br />
					Total Price = {{testMessage}}<br/>
					<button type="button" name="button" v-on:click = "toTheHistory">Purchase</button>
					<button type="button" name="button" v-on:click="cancelupdate">Cancel</button>
				</div>
			</div>
			<input id="div-cart-purchase" type="button" value="Purchase" v-on:click="purchase"/>
			<input id="div-cart-refresh" type="button" value="Refresh Cart" v-on:click="refresh"/>
			<h2>Welcome!
				Choose your Movie: <br>
				<input type="button" value="logout" v-on:click=""/>
				<input type="button" value="history" v-on:click="updatecart3"/>
			</h2>
			<hr>
			<div align="center">
				<div style="float: left;">
					<img src = "https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6262/6262687_sa.jpg;maxHeight=640;maxWidth=550" style="width:200px;height:300px;"> <br>
					Title: Silip<br>
					Number of Tickets: <input type="number" name="silipQuantity" min= "1" max= "10" v-model="silipQuantity"><br />
		 			<input type="button" value="add to cart" v-on:click="addSilipToCart"/> <br> <br>
	 			</div>
		 		<div style="float: left; width: 650px" align="center">
		 			<img src = "https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6262/6262687_sa.jpg;maxHeight=640;maxWidth=550" style="width:200px;height:300px;"> <br>
		 			Title: Tuyong Lumpia<br>
					Number of Tickets: <input type="number" name="TuyongLumpiaQuantity" min='1' max ='10' v-model="TuyongLumpiaQuantity"><br>
		 			<input type="button" value="add to cart" v-on:click="addTuyongLumpiaToCart"/>
		 		</div>
		 		<div style="float: right;">
		 			<img src = "https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6262/6262687_sa.jpg;maxHeight=640;maxWidth=550" style="width:200px;height:300px;"> <br>
		 			Title: Ginataang Mani<br>
					Number of Tickets: <input type="number" name="GinataangManiQuantity" min="1" max='10' v-model='GinataangManiQuantity'><br>
		 			<input type="button" value="add to cart" v-on:click="addGinataangManiToCart"/>
				</div>
			</div>
		</div>
		<script src = "vue_app.js"></script>
	</body>
</html>
