body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

/* OVERLAY */
#movie_detail {
  height: 100px;
  width: 300px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -50px;
  background-color: red;
}

#overlay {
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* ****************** */

#div-cart {
  border: 1px gray solid;
  position: absolute;
  height: 100px;
  top: 25px;
  right: 100px;
  overflow: auto;
  width: 400px;
  border-radius: 5px;
}
#div-cart p {
  text-align: center;
  margin: 0px;
}
#div-cart .ticket {
  background-color: red;
  margin: 5px;
}
#div-cart-refresh {
  position: fixed;
  top: 130px;
  right: 405px;
}
#div-cart-purchase {
  position: fixed;
  top: 130px;
  right: 100px;
}

/*
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: #F8F8FF;
}

h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
    color: #F8F8FF;
}
*/
